<style>

  .padding {
    float: left;
    width: 100%;
    background-color: #F2E6F0;
  }

  .logo {
    max-width: 220px;
    margin: auto;
    padding-top: 100px;
  }

</style>


<ion-view view-title="Aromapedia">
  
  <ion-content class="padding">
            
   <button class="button button-royal" ng-click="logout()">
      Logout
   </button>  
  <div class="logo">
    <img src="img/img-Logo.jpg" width="220" height="274"/>
  </div>  
      
      
  </ion-content>
  
</ion-view>
