<ion-view title="Clientes" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="clientes-heading1" style="color:#000000;" class=" ">Cadastro Cliente</h1>
        <button id="clientes-button2" class=" button button-positive  button-block ">NOVO</button>
        <form id="clientes-form1" class="list ">
            <label class="item item-input " id="clientes-input1" >
                <input type="text" placeholder="nome do clietne" name="nome">
            </label>
            <label class="item item-input " id="clientes-input2" >
                <input type="text" placeholder="telefone do cliente" name="telefone">
            </label>
        </form>
        <div class="item item-body " id="clientes-list-item-container1">
            <p id="clientes-markdown1" style="margin-top:0px;color:#000000;" class=" ">Clientes</p>
        </div>
    </ion-content>
</ion-view>